<h1><%=@post.title %></h1>
<p><%=@post.content %></p>
<p><%=@post.user.email%></p>

<h2>Comments</h2>
<ul>
  <% @comments.each do |comment| %>
    <>
      <%= comment.user.email %>
    <br/>
      <%= comment.content %>
      <% if can? :edit, comment %>
        <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
    <% end %>
      <% if can? :destroy, comment %>
        <%= link_to 'Delete', post_comment_path(@post, comment), data: { turbo_method: :delete, turbo_confirm: "Really?!?" } %>
      <% end %>
    <br/>
    <br/>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= render 'comments/form' %>
<% else %>
  <p class="not-signed-in-message">Please <%= link_to 'sign in', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment on this post.</p>
<% end %>



